{% extends "mapsapp/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
                {% csrf_token %}

                {% include 'mapsapp/snippets/bootstrap-form.html' %}

                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}