<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'mapsapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mapsapp/css/railscasts.css' %}">
    <link rel="stylesheet" href="{% static 'mapsapp/css/aoe2map.css' %}">
    {% block additionalcss %}
    {% endblock %}

    <title>{% block pagetitle %}{% endblock %}aoe2map</title>
    {% block style %}{% endblock %}
    {% block additionalheader %}{% endblock %}
</head>

<body>
{% block modal %}{% endblock %}
<div class="container-fluid pb-5">
    <h1 class="text-center"><a href="{% url 'index' %}" id="banner-link-index">
        <img id="banner" src="{% static 'mapsapp/images/banner.svg' %}"/></a>
    </h1>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'maps' %}" id="nav-link-maps">Maps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'collections' %}" id="nav-link-map-collections">Map Collections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mappack' %}" id="nav-link-mappack-creator">Mappack Creator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://snippets.aoe2map.net" id="nav-link-snippets">Snippets</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Contests
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://aoe2map.net/contest/holy-cup/">Holy Cup (2021)</a>
                <a class="dropdown-item" href="https://aoe2map.net/contest/wdc/">World Desert Championship (2021)</a>
                <a class="dropdown-item" href="https://aoe2map.net/contest/masters-of-rms/">Masters of RMS (2020)</a>
                <a class="dropdown-item" href="https://aoe2map.net/contest/">24 Hours
                    1&thinsp;/&thinsp;2&thinsp;/&thinsp;3 (2018)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'info' %}" id="nav-link-info">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://siegeengineers.org/donate/?from=aoe2map" id="nav-link-donate">Donate</a>
        </li>
        {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" id="nav-link-login">Login</a>
            </li>
        {% endif %}
        <li>
            <form class="form-inline" method="POST" action="{% url 'map_search_post' %}">
                {% csrf_token %}
                <label class="sr-only" for="searchterm">Search</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="searchterm" name="searchterm"
                       placeholder="Search Map or Authors…">
            </form>
        </li>
    </ul>
    {% if request.user.is_authenticated %}
        <ul class="nav justify-content-center user-nav">
            <li class="nav-item"><span class="nav-link" id="user-nav-username"><b>{{ request.user.username }}</b></span></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mymaps' %}" id="user-nav-my-maps">My Maps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'newmap' %}" id="user-nav-new-map">New Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mycollections' %}" id="user-nav-my-collections">My Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'newcollection' %}" id="user-nav-new-collection">New Collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}" id="user-nav-settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" id="user-nav-logout">Logout</a>
            </li>
        </ul>
    {% endif %}
    <hr>
    {% block subtitle %}{% endblock %}
    <hr>
    {% block content %}
        <div class="maps row">
            {% include 'mapsapp/snippets/loading_animation.html' %}
        </div>
    {% endblock %}
</div>
{% block js %}
{% endblock %}
</body>

</html>