{% extends "mapsapp/base.html" %}
{% load static %}

{% block pagetitle %}{{ collection.name }} – {% endblock %}
{% block subtitle %}
    <h4 class="text-center"><span id="collection-name">{{ collection.name }}</span>
        <small class="text-muted">by {{ collection.authors }} ({{ collection.rms.count }} maps)</small>
    </h4>
    <hr>
    <div class="col-md-6 offset-md-3 col-12">
        <div class="markdown-text">{{ collection.description|linebreaks }}</div>
        <p class="text-center">
            <button class="btn btn-secondary" id="download">Download Collection</button>

            {% if request.user and collection.owner == request.user %}
                <a href="{% url 'editcollection' collection_id=collection.uuid %}"
                   class="card-link btn btn-outline-primary ml-3">Edit collection</a>
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block js %}
    {% include 'mapsapp/snippets/maps_js_block.html' %}
    <script src="{% static 'mapsapp/js/jszip.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/FileSaver.js' %}"></script>
    <script src="{% static 'mapsapp/js/collection.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown-it.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown.js' %}"></script>
{% endblock %}
