{% extends "mapsapp/base.html" %}
{% load static %}

{% block modal %}
    <div class="modal fade" id="random_choice_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Random selection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div id="modal-scouting" class="text-center">
                        <img src="{% static 'mapsapp/images/load.gif' %}" alt="Loading…"> Just a second!
                        We are scouting for the perfect map for you…
                    </div>
                    <div id="modal-result" class="row">
                        <div class="image col-md-6 col-12"></div>
                        <div class="description col-md-6 col-12"></div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary roll-random-item">Re-roll</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagetitle %}{{ collection.name }} – {% endblock %}
{% block subtitle %}
    <h4 class="text-center"><span id="collection-name">{{ collection.name }}</span>
        <small class="text-muted">by <span id="author-names">{{ collection.authors }}</span> ({{ collection.rms.count }} maps)</small>
    </h4>
    <hr>
    <div class="col-md-6 offset-md-3 col-12">
        <p class="markdown-text" id="description">{{ collection.description }}</p>
        <div class="text-center">
            {% if collection.mod_id %}
                <a href="https://www.ageofempires.com/mods/details/{{ collection.mod_id }}/"
                   class="card-link btn btn-outline-secondary mr-3"
                   target="_blank">Go to Mod</a>
            {% endif %}
            <div class="btn-group mr-3">
                <button class="card-link btn btn-secondary"
                        id="download">Download Collection
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" id="deModButton">Download ZIP for DE mod</button>
                    <button class="dropdown-item" id="wkVooblyModButton">Download ZIP for WK Voobly mod</button>
                </div>
            </div>
            <button class="btn btn-secondary roll-random-item" id="random_choice">Random Choice</button>

            {% if request.user and collection.owner == request.user %}
                <a href="{% url 'editcollection' collection_id=collection.uuid %}"
                   class="card-link btn btn-outline-primary ml-3">Edit collection</a>
            {% endif %}
        </div>
        <p class="text-muted text-center small">This collection is managed by: <span
                            class="text-monospace">{{ collection.owner.username }}</span></p>
    </div>
{% endblock %}

{% block js %}
    {% include 'mapsapp/snippets/maps_js_block.html' %}
    <script src="{% static 'mapsapp/js/jszip.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/popper.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/FileSaver.js' %}"></script>
    <script src="{% static 'mapsapp/js/collection.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown-it.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown.js' %}"></script>
{% endblock %}
