{% extends "mapsapp/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block additionalcss %}
    <link rel="stylesheet" href="{% static 'mapsapp/css/tagsinput.css' %}">
{% endblock %}

{% block subtitle %}
    <h4 class="text-center">{{ action }} Collection</h4>
{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'mapsapp/snippets/bootstrap-form.html' %}

            <button type="submit" class="btn btn-primary" id="save">Save</button>
        </form>
        <div style="padding-bottom: 5rem;"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'mapsapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/tagsinput.js' %}"></script>
    <script src="{% static 'mapsapp/js/typeahead.bundle.js' %}"></script>
    <script type="text/javascript">
        var MAPS_PREFETCH_URL = "{% url 'api:mapsbyname' %}";
        var MAPS_URL = "{% url 'api:mapsbyname' searchstring='QUERY' %}";
        var RMS_INITIAL_DATA = {{ rms_initial_data |safe}};
    </script>
    <script src="{% static 'mapsapp/js/maps.js' %}"></script>

{% endblock %}