{% extends "mapsapp/base.html" %}
{% load static %}

{% block pagetitle %}Info – {% endblock %}

{% block subtitle %}
    <div class="text-center"><h4>Info</h4></div>
{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <div class="card" id="features">
            <div class="card-body">
                <h5 class="card-title">Features</h5>
                <p class="card-text">Without an account on this site, you can:</p>

                <ul>
                    <li>Read this very informative page</li>
                    <li>Browse, view and download maps (<code>.rms</code> files)</li>
                    <li>Download modified versions of maps (for example a Sudden Death version for UserPatch)</li>
                    <li>Browse and download map collections</li>
                    <li>Have a random map selected for you from a collection</li>
                    <li>Search for maps or authors by name</li>
                    <li>Use the Mappack Creator to create mappacks (a mappack is a single <code>.rms</code> file that
                        generates one of multiple maps randomly with approximately equal probability)
                    </li>
                </ul>

                <p class="card-text">When you create an account on this site and login, you can additionally:</p>

                <ul>
                    <li>Upload maps with descriptions and metadata, image(s), and tags, as well as the info which game
                        versions the map works with
                    </li>
                    <li>Edit the information of your maps</li>
                    <li>Upload new versions of your maps (the old map will display a link to the newer version, while
                        all collections will directly include the new map)
                    </li>
                    <li>Remove/archive your maps so they are not available anymore except via their direct url or if
                        they are still part of a collection
                    </li>
                    <li>Create map collections</li>
                    <li>Edit your map collections</li>
                    <li>Express your affection towards a map by clicking the <span class="heart">❤</span> button</li>
                    <li>Undo your expression of affection by clicking the <span class="heart">❤</span> button again</li>
                    <li>Log in and log out</li>
                    <li>Change your password</li>
                    <li>Add and remove an email address to/from your profile</li>
                    <li>Have a password reset link sent to you by email (only if your profile contains an email
                        address)
                    </li>
                </ul>
            </div>
        </div>


        <div class="card" id="how-to-upload-new-version">
            <div class="card-body">
                <h5 class="card-title">I improved my map. How do I upload the new version?</h5>
                <p>You can indeed upload a new version of your map. We even display a brief history / changelog for maps
                    of which multiple versions have been uploaded.<br>
                    Uploading a new version of a map is a straightforward process:</p>
                <ol>
                    <li>While logged in, click on the "Upload new version" button on the main page of the map you want
                        to update. This is only available for your own maps.<br>
                        Alternatively, you can click on the small dropdown arrow next to the map on your
                        <a href="{% url 'mymaps' %}">My&nbsp;maps</a> page and select, you guessed it, "Upload new
                        version".
                    </li>
                    <li>The regular "New Map" dialog appears, but some fields are already filled out (like "Name",
                        "Authors" or "Description") – they contain the values from the old map for your convenience.
                        Select the new <code>.rms</code> file and&nbsp;new&nbsp;images and/or select images from the
                        previous version that you wish to copy over, fill in or edit the values in the remaining input
                        fields ("Version" and "Changelog" might be especially interesting here) and click "Upload" – and
                        you are all set!
                    </li>
                    <li>The new version is now available on the website.</li>
                    <li>In all collections, your own and those of others, the old version got replaced with the new
                        version you just uploaded.
                    </li>
                    <li>The old version displays a notice that a newer version is available.</li>
                </ol>
            </div>
        </div>

        <div class="card" id="how-to-play">
            <div class="card-body">
                <h5 class="card-title">How To Play Random Map Scripts</h5>
                <p class="card-text">Depending on the version you use, save the <code>.rms</code> files you can download
                    from this site in the following folder:</p>

                <dl class="list-group list-group-flush">
                    <dt>DE</dt>
                    <dd>
                        <code>C:\Program Files
                            (x86)\Steam\steamapps\common\AoE2DE\resources\_common\random-map-scripts</code>
                    </dd>
                    <dt>HD</dt>
                    <dd>
                        <code>C:\Program Files
                            (x86)\Steam\steamapps\common\Age2HD\resources\_common\random-map-scripts</code>
                    </dd>
                    <dt>HD+Voobly
                        <small>(using the <a href="http://aoccs.net/" target="_blank">Compatibility Patch</a>)</small>
                    </dt>
                    <dd>
                        <code>C:\Program Files (x86)\Steam\steamapps\common\Age2HD\Random</code>
                    </dd>
                    <dt>HD/Voobly/Wololo Kingdoms</dt>
                    <dd>
                        <code>C:\Program Files (x86)\Steam\steamapps\common\Age2HD\Voobly Mods\AOC\Data
                            Mods\WololoKingdoms\Script.Rm</code>
                    </dd>
                    <dt>AoC</dt>
                    <dd>
                        <code>C:\Program Files (x86)\Microsoft Games\Age of Empires II\Random</code>
                    </dd>
                    <dt>AoC/Voobly/Wololo Kingdoms</dt>
                    <dd>
                        <code>C:\Program Files (x86)\Microsoft Games\Age of Empires II\Voobly Mods\AOC\Data
                            Mods\WololoKingdoms\Script.Rm</code>
                    </dd>
                </dl>

                <p class="card-text">If you happen to have installed Steam / Age of Empires II into a different folder,
                    adjust the paths accordingly. </p>

                <p class="card-text">In the game, select the following:</p>
                <ul>
                    <li>Game: Random Map</li>
                    <li>Map Style: Custom</li>
                    <li>Location: <i>(your map script)</i></li>
                </ul>

            </div>
        </div>

        <div class="card" id="wololo-kingdoms">
            <div class="card-body">
                <h5 class="card-title">Wololo Kingdoms</h5>
                <p class="card-text">Play the HD expansions on Voobly with the Wololo Kingdoms mod! You must own the
                    expansions on Steam in order to play with Wololo Kingdoms.</p>
                <a href="https://github.com/AoE2CommunityGitHub/WololoKingdoms/releases" class="card-link">Download
                    Wololo Kingdoms from GitHub.</a>
            </div>
        </div>

        <div class="card" id="how-to-create-rms">
            <div class="card-body">
                <h5 class="card-title">How To Create Random Map Scripts</h5>
                <p class="card-text">
                    <a href="http://aok.heavengames.com/cgi-bin/forums/display.cgi?action=st&fn=28&tn=42485&st=0#post0"
                       target="_blank">Look at this handy collection of guides</a>
                </p>
                <p class="card-text">Of course you can create and edit your <code>.rms</code> files with Notepad, but
                    that is no fun. There are plugins for various editors that provide, to varying degree and quality,
                    syntax highlighting, syntax checking and code completion.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">RMS Plugins for
                    <a href="https://marketplace.visualstudio.com/items?itemName=deltaidea.aoe2-rms" target="_blank">Visual
                        Studio Code</a>
                    and <a href="https://github.com/mangudai" target="_blank">Sublime Text</a>
                    by Mangudai
                </li>
                <li class="list-group-item">RMS Plugin for
                    <a href="http://savas.co.uk/2015/rms-syntax-support-for-notepad-udl/" target="_blank">Notepad++</a>
                    by Savas
                </li>
                <li class="list-group-item">RMS Plugin for
                    <a href="https://plugins.jetbrains.com/plugin/10628-rms-plugin" target="_blank">IntelliJ</a>
                    by HSZemi
                </li>
                <li class="list-group-item">Also check out the
                    <a href="https://mangudai.github.io/" target="_blank">RMS Online Playground</a>
                    by Mangudai!
                </li>
            </ul>
        </div>

        <div class="card" id="zr-maps">
            <div class="card-body">
                <h5 class="card-title">ZR Maps</h5>
                <p class="card-text">ZR stands for "Zip Random" – a ZR map is a zip file that contains a random map
                    script, a scenario file, and optionally additional resources. ZR maps cannot be edited directly with
                    a text editor like regular rms files. Instead, they must be extracted, their contents can then be
                    edited separately, and can then be combined again in a zip file. These zip files must not compress
                    their contents but rather store them.</p>

                <p class="card-text">ZR maps only work with
                    <a href="https://userpatch.aiscripters.net/" target="_blank">User Patch 1.5</a>. The "real world"
                    maps in the game however use the same technique.</p>

                <p class="card-text">ZR maps allow for fixed terrain and optionally fixed player positions, while
                    handling the resource distribution in the rms script. It is also possible to override graphics
                    resources, for example to give a specific terrain a new look. Triggers however (like in custom
                    scenarios) do not work with ZR maps.</p>
            </div>
        </div>

        <div class="card" id="screenshots">
            <div class="card-body">
                <h5 class="card-title">How To Create Full Map Screenshots</h5>
                <p class="card-text">Press <code>Ctrl+F12</code> ingame. This only works in the original / Voobly
                    version. It does <em>not</em> work in the HD version, sadly.</p>
            </div>
        </div>

        <div class="card" id="email-address">
            <div class="card-body">
                <h5 class="card-title">How We Use Your Email Address</h5>
                <p class="card-text">When you have an account on this website, you <em>can</em> add an email address.
                    This is entirely optional. If you added an email address to your account, you can remove it at any
                    time. It will then be gone from the website. It might remain in some backup files though, because
                    that is how those backups work.</p>
                <p class="card-text">We will <em>never</em> use such an email address to send you marketing messages,
                    advertisements or spam. Should you receive such content on an email address that you use exclusively
                    on this website, please inform us (see below), so we can investigate how this was possible.</p>
                <p class="card-text">We will use such an email address:
                <ul>
                    <li>to send you a link to confirm your email address when you add it
                    </li>
                    <li>to send you a link to reset your password if you request it
                    </li>
                    <li>to send you a message in case a map creator wants to have one of their maps that you
                        uploaded transferred to their own account
                    </li>
                    <li>to send you a message in case we discover that problematic content was uploaded by your account
                    </li>
                    <li>to inform you in case we discover that we got hacked and that your email address is now possibly
                        known to a third party
                    </li>
                    <li>to inform you in case we decide to shut down this service</li>
                    <li>to inform you in case we decide to hand this service over to somebody else</li>
                    <li>to send you a message we think we should definitely send you that is not covered by the points
                        above (that is very vague, yes, but that is the whole point of this point)
                    </li>
                </ul>
                </p>
            </div>
        </div>

        <div class="card" id="contact">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">{{ contact | safe | linebreaks }}</p>
            </div>
        </div>

    </div>
{% endblock %}
