{% extends "mapsapp/base.html" %}
{% load static %}
{% load startswith %}

{% block additionalheader %}
    <!-- Facebook Open Graph -->
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:site_name" content="aoe2map.net"/>
    <meta property="og:title" content="{{ rms.name }}{% if rms.version %} {{ rms.version }}{% endif %}"/>
    <meta property="og:url" content="{{ top_url }}{{ page_url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ rms.description }}"/>
    <meta property="og:image" content="{% if rms.image_set.count == 0 %}{{ top_url }}{% static '/mapsapp/images/empty.png' %}{% else %}{% if rms.image_set.all.0.preview %}{% if not rms.image_set.all.0.preview.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.preview.url }}{% else %}{% if not rms.image_set.all.0.file.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.file.url }}{% endif %}{% endif %}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="311"/>
    <!-- Google+ / Schema.org -->
    <meta itemprop="name" content="{{ rms.name }}"/>
    <meta itemprop="headline" content="{{ rms.name }}{% if rms.version %} {{ rms.version }}{% endif %}"/>
    <meta itemprop="description" content="{{ rms.description }}"/>
    <meta itemprop="image" content="{% if rms.image_set.count == 0 %}{{ top_url }}{% static '/mapsapp/images/empty.png' %}{% else %}{% if rms.image_set.all.0.preview %}{% if not rms.image_set.all.0.preview.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.preview.url }}{% else %}{% if not rms.image_set.all.0.file.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.file.url }}{% endif %}{% endif %}"/>
    <meta itemprop="author" content="{{ rms.authors }}"/>
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{{ rms.name }}{% if rms.version %} {{ rms.version }}{% endif %}"/>
    <meta name="twitter:url" content="{{ top_url }}{{ page_url }}"/>
    <meta name="twitter:description" content="{{ rms.description }}"/>
    <meta name="twitter:image" content="{% if rms.image_set.count == 0 %}{{ top_url }}{% static '/mapsapp/images/empty.png' %}{% else %}{% if rms.image_set.all.0.preview %}{% if not rms.image_set.all.0.preview.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.preview.url }}{% else %}{% if not rms.image_set.all.0.file.url|startswith:'http' %}{{ top_url }}{% endif %}{{ rms.image_set.all.0.file.url }}{% endif %}{% endif %}"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block pagetitle %}{{ rms.name }} – {% endblock %}

{% block subtitle %}
    <div class="modal fade bd-example-modal-xl" id="showCodeModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <pre><code id="codearea"></code></pre>
                </div>
            </div>
        </div>
    </div>

    <div class="offset-md-1 col-md-10 col-12 singlemap-area">
        <div class="row">

            <div class="col-12 text-center" id="alert-area">
                {% if rms.newer_version %}
                    {% include 'mapsapp/snippets/latest_version_alert.html' %}
                {% endif %}
                {% if rms.archived %}
                    {% include 'mapsapp/snippets/archived_alert.html' %}
                {% endif %}
            </div>

            <div class="col-md-6 col-12 text-center mapscreenshot-container">
                {% if rms.image_set.count == 0 %}
                    <div class="mapscreenshot">
                        {% if de_map %}
                            <img class="img-fluid" src="{% static '/mapsapp/images/empty-de-1.png' %}"/>
                        {% else %}
                            <img class="img-fluid" src="{% static '/mapsapp/images/empty.png' %}"/>
                        {% endif %}
                    </div>
                {% else %}
                    {% if rms.image_set.count == 1 %}
                        <div class="mapscreenshot">
                            {% if rms.image_set.all.0.preview %}
                                <a href="{{ rms.image_set.all.0.file.url }}" target="_blank">
                                    <img class="img-fluid" src="{{ rms.image_set.all.0.preview.url }}"/>
                                </a>
                            {% else %}
                                <a href="{{ rms.image_set.all.0.file.url }}" target="_blank">
                                    <img class="img-fluid" src="{{ rms.image_set.all.0.file.url }}"/>
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div id="imageCarousel" class="carousel slide mapscreenshot" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for i in rms.image_set.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        {% if i.preview %}
                                            <a href="{{ i.file.url }}" target="_blank">
                                                <img class="d-block w-100" src="{{ i.preview.url }}"
                                                     alt="Slide {{ forloop.counter }}">
                                            </a>
                                        {% else %}
                                            <a href="{{ i.file.url }}" target="_blank">
                                                <img class="d-block w-100" src="{{ i.file.url }}"
                                                     alt="Slide {{ forloop.counter }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#imageCarousel" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#imageCarousel" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6 col-12 map-info">
                <div class="row pt-5">
                    <div class="col-12 text-center">
                        <h4 class="card-title"><a href="{% url 'map' rms_id=rms.uuid %}" id="map-name">{{ rms.name }}</a>
                            <small class="text-muted"> {{ rms.version }}</small>
                        </h4>
                        <h5 class="card-subtitle mb-2 text-muted">by {{ rms.authors }}</h5>
                        <p class="card-text font-italic">{{ rms.description }}</p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12 justify-content-center form-inline mb-3">
                        <div class="btn-group mr-3">
                            <a href="{{ rms.file.url }}" class="card-link btn btn-secondary map-download"
                               id="downloadButton">Download map</a>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item viewCodeButton">View rms code</button>
                                <button class="dropdown-item deModButton">Download ZIP for DE mod</button>
                                <button class="dropdown-item wkVooblyModButton">Download ZIP for WK Voobly mod
                                </button>
                                <button class="dropdown-item x256TechButton">
                                    256x tech version (DE)
                                </button>
                                <button class="dropdown-item suddenDeathButton">
                                    Sudden Death version (UP)
                                </button>
                                <button class="dropdown-item explodingVillagersButton">
                                    Exploding Villagers version (UP)
                                </button>
                            </div>
                        </div>

                        {% if rms.url %}
                            <a href="{{ rms.url }}" class="card-link btn btn-outline-secondary"
                               target="_blank">Website</a>
                        {% endif %}
                        {% if rms.mod_id %}
                            <a href="https://www.ageofempires.com/mods/details/{{ rms.mod_id }}/"
                               class="card-link btn btn-outline-secondary"
                               target="_blank">Go to Mod</a>
                        {% endif %}
                        <button class="btn {% if self_voted %}btn-outline-primary{% else %}btn-secondary{% endif %} ml-3"
                                id="vote-button"
                                {% if not request.user or not request.user.is_authenticated or rms.archived %}disabled{% endif %}>
                            <span class="votes">{{ votes }}</span>&numsp;<span class="heart">❤</span>
                        </button>
                        {% if request.user and request.user.is_authenticated and not rms.archived %}
                            <div class="input-group ml-3">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add to
                                    collection…
                                </button>
                                <div class="dropdown-menu">
                                    {% for collection in collections %}
                                        <span class="dropdown-item"
                                              onclick="addToCollection('{{ rms.uuid }}','{{ collection.uuid }}')">{{ collection.name }}</span>
                                    {% endfor %}
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'newcollection' rms_id=rms.uuid %}">New
                                        Collection…</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if request.user and rms.owner == request.user and not rms.archived %}
                    <div class="row">
                        <div class="col-12 justify-content-center form-inline mb-3">
                            <a href="{% url 'editmap' rms_id=rms.uuid %}"
                               class="card-link btn btn-outline-primary">Edit map</a>
                            {% if not rms.newer_version %}
                                <a href="{% url 'newmap_newer_version' rms_id=rms.uuid %}"
                                   class="card-link btn btn-outline-primary">Upload new version</a>
                            {% endif %}
                                <a href="{% url 'map_archive' rms_id=rms.uuid %}"
                                   class="card-link btn btn-outline-danger">Remove/archive</a>
                        </div>
                    </div>
                {% endif %}
                <div class="row pt-1">
                    <div class="col-12 text-center text-muted small">
                        This upload is managed by: <span class="text-monospace">{{ rms.owner.username }}</span>
                        {% if request.user and request.user.is_staff %}
                            <br>
                            created:
                            <time datetime="{{ rms.created|date:"c" }}"
                                  title="{{ rms.created|date:"r" }}">{{ rms.created|date:"Y-m-d" }}</time>
                            <br>
                            last updated:
                            <time datetime="{{ rms.updated|date:"c" }}"
                                  title="{{ rms.updated|date:"r" }}">{{ rms.updated|date:"Y-m-d" }}</time>
                        {% endif %}
                    </div>
                    <div class="col-12 align-self-end">
                        <div class="tags">Tags:
                            {% for tag in rms.tags.all %}
                                <a href="{% url 'tags' url_fragment=tag.id|stringformat:"s/" %}"
                                   class="badge badge-secondary">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="tags">Versions:
                            {% for tag in rms.versiontags.all %}
                                <a href="{% url 'version' version_name=tag.name %}"
                                   class="badge badge-secondary">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if rms.information %}
            <hr style="width: 50%;">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-12">
                    <div class="card">
                        <div class="card-header">
                            Information
                        </div>
                        <div class="card-body">
                            <div class="card-text markdown-text">{{ rms.information }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if rms.changelog or rms.predecessors.exists or rms.newer_version %}
            <hr style="width: 50%;">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-12">
                    <div class="card">
                        <div class="card-header">
                            Changelog
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if rms.newer_version %}
                                {% include "mapsapp/snippets/newer_version.html" with rms=rms.newer_version %}
                            {% endif %}

                            {% include "mapsapp/snippets/older_versions.html" with rms=rms current=True %}

                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
    <script src="{% static 'mapsapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/popper.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown-it.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/markdown.js' %}"></script>
    <script src="{% static 'mapsapp/js/jszip.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/FileSaver.js' %}"></script>
    <script src="{% static 'mapsapp/js/highlight.js' %}"></script>
    <script src="{% static 'mapsapp/js/highlight.js-rms.js' %}"></script>
    <script src="{% static 'mapsapp/js/highlightjs-line-numbers.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/view-code.js' %}"></script>
    <script src="{% static 'mapsapp/js/custom-versions.js' %}"></script>
    <script src="{% static 'mapsapp/js/collection.js' %}"></script>
    <script type="text/javascript">
        const COLLECTION_ENDPOINT = "{% url 'api:modifycollection' %}";
        const ADD_VOTE_URL = "{% url 'api:add_vote' rms_id=rms.uuid %}";
        const REMOVE_VOTE_URL = "{% url 'api:remove_vote' rms_id=rms.uuid %}";
    </script>
    <script src="{% static 'mapsapp/js/add-to-collection.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script src="{% static 'mapsapp/js/vote.js' %}"></script>
    {% endif %}
{% endblock %}
