{% extends "mapsapp/base.html" %}
{% load static %}
{% block style %}
    <style>
        .active {
            border-width: .2rem;
            border-color: aliceblue;
        }

        body {
            padding-top: 1rem;
        }

        #fileInput {
            display: none;
        }

        label {
            display: inline;
        }

        .map {
            margin-bottom: .5rem;
        }

    </style>
{% endblock %}
{% block subtitle %}
    <h4 class="text-center">Create a map pack</h4>
{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <p>A mappack is a random map script that contains multiple other random map scripts and generates a random one
            of them each time it is played. The contained map scripts can get chosen with equal or different
            probabilities, depending on how the mappack is designed.</p>
        <p>When you generate a mappack using this generator, the selection part will be at the very top of the file.
            You can easily adapt the probability for each map that you added after downloading the mappack and opening
            it with a text editor.</p>
        <p>You can only use "plain" <code>.rms</code> files here,
            <a href="{% url 'info' %}#zr-maps"><code>ZR@</code> maps</a> will not work.</p>
    </div>
    <div class="col-md-6 offset-md-3">
        <label for="fileInput">
            <div class="dropzone">
                <div class="card" id="target" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
                     ondragleave="dragLeaveHandler(event);"
                     style="min-height: 20rem;">
                    <div class="card-header">
                        <div class="text-center">Click here or drag .rms map files here!
                            <br>When the border turns white, drop the file(s)
                            <br>
                            <small>(maybe you have to wiggle your mouse a bit)</small>
                        </div>
                    </div>
                    <ul id="filelist" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </label>
        <input type="file" id="fileInput" onchange="handleFiles(this.files);" multiple>
        <div style="margin-top: 1rem;" class="text-center">
            <button class="btn btn-primary btn-block" onclick="getdata();">Generate and download* map pack</button>
        </div>
        <div class="text-center">
            <small>*All data is processed in the browser. Nothing is transmitted over the web.
                <br> It's just that the browser will "download" the result.
            </small>
        </div>
        <div style="margin-top: 1rem;" class="text-center">
            <button class="btn btn-danger" onclick="clearList();">Clear</button>
        </div>
    </div>
    <div style="margin-top: 1rem; margin-bottom: 1rem;" class="text-center">
        <small>
            <a href="https://github.com/HSZemi/aoe2map/issues">We have bugs, many bugs!</a>
        </small>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'mapsapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/mappack.js' %}"></script>
{% endblock %}