{% extends "mapsapp/base.html" %}
{% load static %}

{% block subtitle %}
    <h4 class="text-center"><img src="{% static 'mapsapp/images/map.svg' %}" style="height:1em;"/> My maps</h4>
{% endblock %}


{% block content %}
    <div class="col-md-6 offset-md-3">
        {% if rmss %}
            <ul class="maplist">
                {% for rms in rmss %}
                    <li><a href="{% url 'map' rms_id=rms.uuid %}">{{ rms.name }}
                        <small>{% if rms.version %}{{ rms.version }} {% endif %}(by {{ rms.authors }})</small>
                    </a> – <a href="{% url 'editmap' rms_id=rms.uuid %}">edit</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="text-center">
                <div style="font-size: 10rem;">😢</div>
                <p>Looks like you have not uploaded any maps yet. <a href="{% url 'newmap' %}">Start now!</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}