{% extends "mapsapp/base.html" %}
{% load static %}

{% block pagetitle %}My maps – {% endblock %}

{% block subtitle %}
    <h4 class="text-center"><img src="{% static 'mapsapp/images/map.svg' %}" style="height:1em;"/> My maps</h4>
{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        {% if rmss %}
            {% include 'mapsapp/snippets/filter.html' %}

            <ul class="maplist">
                {% for rms in rmss %}
                    <li>
                        <a href="{% url 'map' rms_id=rms.id slug=rms.slug %}">{{ rms.name }}
                            <small>{% if rms.version %}{{ rms.version }} {% endif %}(by {{ rms.authors }})</small>
                        </a>
                        <div class="dropdown" style="display: inline;">
                            <button class="btn btn-sm btn-link dropdown-toggle" type="button"
                                    id="dropdownMenuButton-{{ rms.uuid }}" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ rms.uuid }}">
                                <a class="dropdown-item" href="{% url 'editmap' rms_id=rms.uuid %}">
                                    Edit map
                                </a>
                                {% if not rms.newer_version %}
                                    <a class="dropdown-item" href="{% url 'newmap_newer_version' rms_id=rms.uuid %}">
                                        Upload new version
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="text-center">
                <div style="font-size: 10rem;">😢</div>
                <p>Looks like you have not uploaded any maps yet. <a href="{% url 'newmap' %}">Start now!</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'mapsapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/popper.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mapsapp/js/list-filter.js' %}"></script>
{% endblock %}