{% extends "mapsapp/base.html" %}
{% load widget_tweaks %}

{% block pagetitle %} – Register{% endblock %}
{% block subtitle %}
    <h4 class="text-center">Register</h4>
{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'mapsapp/snippets/bootstrap-form.html' %}

            <button type="submit" class="btn btn-primary" id="register">Register</button>
        </form>
    </div>
{% endblock %}