{% extends "mapsapp/base.html" %}
{% load widget_tweaks %}

{% block pagetitle %} – Settings{% endblock %}
{% block subtitle %}
    <h4 class="text-center">Settings</h4>
{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <p>You can change your password and modify your email address here. If add or modify your email address, you
            will receive an email with a link that you have to click in order to confirm your email address. You can
            also remove your email address and save an empty field in order to remove your email address from our
            system.</p>

        <p><strong>You cannot reset a forgotten password unless you add and confirm an email address.</strong></p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'mapsapp/snippets/bootstrap-form.html' %}

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}