{% extends "mapsapp/base.html" %}

{% block pagetitle %}Tags – {% endblock %}

{% block subtitle %}
    <h4 class="text-center">Maps tagged with ›{{ tag }}‹</h4>
{% endblock %}

{% block content %}
    <div class="row alltags">
        <div class="col-md-8 offset-md-2">
            {% for single_tag in alltags %}
                <a href="./{{ single_tag.id }}" class="badge badge-secondary">{{ single_tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="maps row">
        {% include 'mapsapp/snippets/loading_animation.html' %}
    </div>
{% endblock %}

{% block js %}
    {% include 'mapsapp/snippets/maps_js_block.html' %}
{% endblock %}
