<li class="list-group-item{% if current %} bg-secondary{% endif %}">
    <div class="row">
        <div class="col-8">
            <h6>
                <a class="text-black" href="{% url 'map' rms_id=rms.uuid %}">
                    <small class="text-muted">{{ rms.name }}</small>
                    {{ rms.version }}
                </a>
            </h6>
        </div>
        <div class="text-right col-4 small">
            {{ rms.created | date:"Y-m-d" }}
        </div>
    </div>
    {% if rms.changelog %}
        <div class="markdown-text small">{{ rms.changelog }}</div>
    {% endif %}
</li>