.card {
    margin-bottom: 1rem;
}

.form-control {
    height: initial !important;
}

.mapscreenshot {
    max-width: 600px;
}

.mapscreenshot-container {
    display: flex;
    justify-content: space-around;
}

.singlemap-area {
    background-image: url("../images/tile.png");
}

#banner {
    max-height: 100px;
    max-width: 100%;
}

.user-nav {
    background: linear-gradient(#fc0, #fa0);
    border-radius: .5rem;
    color: black;
}

.user-nav a {
    color: black;
}

.user-nav a:hover {
    color: #333;
}

hr {
    border-color: #fc0;
}

ul.maplist,
ul.mapslist {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.maplist li:before {
    content: url('../images/map.svg');
}

ul.mapslist li:before {
    content: url('../images/maps.svg');
}

ul.maplist li:before,
ul.mapslist li:before {
    display: inline-block;;
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
}

.alltags,
.allversions {
    text-align: center;
    padding-bottom: 1rem;
}

#drop-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 222, 222, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

#drop-info span {
    background-color: #777;
    font-size: 4rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dragging #drop-info {
    display: flex;
}

.map-description {
    max-height: 9.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease-out;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
}

.map-description:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -1rem; right: -1rem;
    box-shadow: inset #303030 0 -1rem 0.9rem;
}

.map-description.full {
    max-height: none;
}

.thumbsup {
    font-style: normal;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

.btn-secondary:hover .thumbsup {
    color: #fc0;
}
